<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To main</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>Date</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quidem fugiat numquam eveniet illum deleniti ut, saepe placeat, iste totam, rem aliquam. Quia rem soluta, laborum quisquam asperiores consequuntur impedit amet quae excepturi cum itaque autem expedita est, odit blanditiis quas possimus. Quis atque totam ipsum perspiciatis nobis non doloribus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quidem fugiat numquam eveniet illum deleniti ut, saepe placeat, iste totam, rem aliquam. Quia rem soluta, laborum quisquam asperiores consequuntur impedit amet quae excepturi cum itaque autem expedita est, odit blanditiis quas possimus. Quis atque totam ipsum perspiciatis nobis non doloribus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quidem fugiat numquam eveniet illum deleniti ut, saepe placeat, iste totam, rem aliquam. Quia rem soluta, laborum quisquam asperiores consequuntur impedit amet quae excepturi cum itaque autem expedita est, odit blanditiis quas possimus. Quis atque totam ipsum perspiciatis nobis non doloribus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quidem fugiat numquam eveniet illum deleniti ut, saepe placeat, iste totam, rem aliquam. Quia rem soluta, laborum quisquam asperiores consequuntur impedit amet quae excepturi cum itaque autem expedita est, odit blanditiis quas possimus. Quis atque totam ipsum perspiciatis nobis non doloribus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quidem fugiat numquam eveniet illum deleniti ut, saepe placeat, iste totam, rem aliquam. Quia rem soluta, laborum quisquam asperiores consequuntur impedit amet quae excepturi cum itaque autem expedita est, odit blanditiis quas possimus. Quis atque totam ipsum perspiciatis nobis non doloribus.</p>
  </div>
</div>
