<form

class="card" >
  <h2>Enter to admin panel</h2>
<!--
<div class="alert alert-danger" *ngIf="auth.error$ | async as error">{{error}}</div> -->
<!--
<div class="alert alert-danger" *ngIf="message">{{message}}</div> -->

  <div class="form-control" ><!-- [formGroup]="form" -->
    <label for="email">Email:</label>
    <input formControlName="email" id="email" type="email">
    <div class="validation">
      <small>error</small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Password:</label>
    <input formControlName="password" id="password" type="password">
    <div class="validation">
      <small>error</small>
    </div>
  </div>

  <button type="submit"  class="btn btn-primary">Enter</button>
</form>
<button (click)="submit()">Test</button>
